{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}

{% block title %} Post {%endblock title%} 

{% block contenido %}
<!-- Page Content -->
    <!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>Ordenar por:</h4>
              <!-- <h2>Ordenar por:</h2> -->
              <ul>
                <div class="main-button">
                    <a href="{% url 'apps.posts:posts' %}?orden=reciente">Más reciente</a>
                    
                    <a href="{% url 'apps.posts:posts' %}?orden=antiguo">Más antiguo</a>  
                                 
                    <a href="{% url 'apps.posts:posts' %}?orden=alfabetico">Orden alfabético</a>                
                </div>             
              </ul>
            </div>                 
          </div>
        </div>      
      </div>
    </section>
</div>
<br>
<div>
  {% if user.is_superuser or request.user|has_group:"Colaborador" %}
    <div class="container-fluid">
      <div class="main-button">
        <a href="{% url 'apps.posts:crear_post' %}">Crear nuevo post</a>  
      </div>                          
    </div>

  {% endif %}  
</div>
<section class="blog-posts grid-system">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">          
          <div class="all-blog-posts">
            <div class="blog-post">

              {% for i in posts %}
                <div class="blog-thumb">
                  <img src="{{ posts.imagen.url }}" alt="">
                </div>
                <div class="down-content">
                  <span>{{ i.categoria }}</span>
                  <a href="{% url 'apps.posts:post_individual' i.id %}"><h4>{{ i.titulo }}</h4></a>
                  <ul class="post-info">
                    <li><a href="#">{{ i.autor }}</a></li>
                    <li><a href="#">{{ i.publicado }}</a></li>
                    <li><a href="#">12 Comments</a></li>
                  </ul>
                  <p>{{ i.texto }}</p>                    
                </div>
                {%empty%}
                  <h1>No hay posts para mostrar</h1>
              {% endfor %}
              
            </div>                              
          </div>
        </div>        
        <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <br>
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="Buscar..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Posts Recientes</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="https://tntsports.com.ar/ligaprofesional/en-vivo-river-vs-talleres-minuto-a-minuto-tnt-sports-20240929-0019.html">
                          <h5>RIVER Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                          <span>19 de Septiembre, 2024</span>
                        </a></li>
                        <li><a href="https://www.infobae.com/peru/deportes/2024/09/28/donde-ver-boca-juniors-vs-belgrano-canal-tv-online-del-partido-por-la-liga-argentina-2024/">
                          <h5>BOCA Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                          <span>28 de Septiembre, 2024</span>
                        </a></li>
                        <li><a href="https://www.racingdealma.com.ar/el-tremendo-problema-para-racing-con-platense/">
                          <h5>RACING Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                          <span>24 de Septiembre, 2024</span>
                        </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categorías</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">- Vida Natural</a></li>
                        <li><a href="#">- Cosas Increíbles</a></li>
                        <li><a href="#">- Ideas Creativas</a></li>
                        <li><a href="#">- Fútbol Mundial</a></li>
                        <li><a href="#">- Internas en Clubs</a></li>
                        <li><a href="#">- Todo de Europa</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Etiquetas</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Estilo de Vida</a></li>
                        <li><a href="#">Creativo</a></li>
                        <li><a href="#">Ideas</a></li>
                        <li><a href="#">Inspiración</a></li>
                        <li><a href="#">Motivación</a></li>
                        <li><a href="#">Internas</a></li>
                        <li><a href="#">Resúmenes</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </section>

{% endblock %}