{% extends 'base.html' %}

{% block contenido %}
<center>
    <div class="container-fluid"">
        <h1>Lista de Usuarios</h1>
        <br>
        <ul>
            {% for usuario in usuarios %}
                <li>{{ usuario.username }}(
                    <a style="color: black;" href="{% url 'apps.usuario:usuario_delete' pk=usuario.pk %}">Eliminar</a>)
                </li>
                {% empty %}
                <li>No hay usuarios</li>
            {% endfor %}
        </ul>
    </div>
</center>
{% endblock %}