{% extends 'base.html' %}

{% load static %}

{% block title %} Acerca De {% endblock title %} 

{% block contenido %}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>¡Conócenos!</h4>
                <h2>Aprende Más de Nosotros</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
    
<!-- Banner Ends Here -->


<section class="about-us">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <!--#FOTO DEL ABOUT US-->
              <img src="{% static 'assets/images/aboutus.jpg' %}" alt="" height="400px">
          </div>
          <div>
            <p>Bienvenidos al blog de realidad virtual del Grupo 15 de la Comisión 6 del Informatorio 
                2024, un espacio donde la imaginación y la tecnología se encuentran para transformar 
                nuestra forma de vivir, aprender y experimentar el mundo. Aquí, nos apasiona explorar 
                las infinitas posibilidades que la realidad virtual nos ofrece, y estamos comprometidos 
                a compartir nuestra visión y descubrimientos con todos ustedes.
            </p>
            <p>La realidad virtual no es solo una herramienta; es una puerta abierta a nuevas 
                realidades. Nos permite trascender las limitaciones del mundo físico, experimentar 
                aventuras inimaginables y conectar con personas y lugares que, de otro modo, serían 
                inalcanzables. En este viaje, buscamos inspirar a otros a descubrir el potencial de 
                esta tecnología, no solo como entretenimiento, sino como una forma poderosa de 
                educación, terapia y conexión humana.
            </p>
            <p>
                Cada artículo, cada análisis y cada experiencia compartida en nuestro blog está diseñado 
                para motivar la curiosidad y desafiar las percepciones sobre lo que es posible. Creemos 
                que la realidad virtual puede ser un catalizador de cambio, un medio para explorar la 
                empatía, la creatividad y la innovación. A través de nuestras voces, queremos que todos 
                se sientan parte de esta revolución tecnológica, que se animen a experimentar y a pensar 
                más allá de lo convencional.
            </p>
            <p>
                Los invitamos a acompañarnos en este viaje emocionante, a explorar juntos las realidades 
                alternativas y a descubrir cómo la realidad virtual puede enriquecer nuestras vidas. 
                ¡La aventura apenas comienza!
            </p>
          </div>
      </div>
      
      <div class="row">
          <div class="col-lg-12">
              <h2 style="margin-bottom: 50px;">Conócenos</h2> <!-- Título agregado aquí -->
          </div>
      </div>
      
      <div class="row" style="margin-left: 150px;">
          <div class="col-2">
              <img src="{% static 'assets/images/person1.jpg' %}" alt="Melanie Schwarz" class="img-fluid">
              <h4>Melanie Schwarz</h4>
              <p>Soy una apasionada de la realidad virtual y la programación. Me encanta compartir al mundo lo último en realidad aumentada, innovación, tecnología y ciencia. Con habilidades en HTML, Python y Django, exploro nuevas fronteras digitales y creo experiencias inmersivas que invitan a todos a unirse a esta emocionante aventura.</p>
          </div>
          <div class="col-2">
              <img src="{% static 'assets/images/person2.jpg' %}" alt="Lucas Gay Aguinaga" class="img-fluid">
              <h4>Lucas Gabriel Gay Aguinaga</h4>
              <p>Soy programador con pasión por la realidad virtual. Me dedico a crear soluciones innovadoras y experiencias inmersivas, siempre buscando nuevas formas de aplicar la tecnología y mejorar con cada proyecto.</p>
          </div>
          <div class="col-2">
              <img src="{% static 'assets/images/person3.jpg' %}" alt="Cristal Quinata" class="img-fluid">
              <h4>Cristal Quinata</h4>
              <p>Me llamo Cristal Quintana y tengo una gran pasión por la programación. Me interesa especialmente la realidad virtual y aumentada, áreas en las que busco aprender y crecer constantemente.</p>
          </div>
          <div class="col-2">
              <img src="{% static 'assets/images/person4.jpg' %}" alt="Rene Gonzalez" class="img-fluid">
              <h4>René González</h4>
              <p>Soy René González, un apasionado programador con un fuerte interés en la realidad virtual. Mi enfoque en la tecnología me ha permitido explorar mundos digitales y construir experiencias innovadoras que desafían los límites de la realidad. A través de mi trabajo, busco fusionar creatividad y programación para crear entornos inmersivos que capturen la imaginación y transformen la forma en que interactuamos con el mundo virtual.</p>
          </div>
          <div class="col-2">
              <img src="{% static 'assets/images/person5.jpg' %}" alt="Santiago Larrea" class="img-fluid">
              <h4>Santiago Nahuel Larrea</h4>
              <p>Nací en Resistencia Chaco, desde mi corta edad adquirí mis conocimientos y experiencias en Marketing, Diseño Gráfico, Medios Audiovisuales y ahora en Programación, con esta ultima herramienta se que puedo profesionalizar mi trabajo mucho mas de lo que ya lo e hecho durante estos ultimos años, ahora solo queda aprender mas y esforzarme por lograr metas.</p>
          </div>
      </div>
      
      <div class="row">
          <div class="col-lg-12">
              <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</section>

{% endblock %}