{% extends 'base.html' %}

{% load static %}

{% load colaborador_tags %}

{% block title %} Inicio {%endblock title%} 
<var>contador = 0</var>

{% block contenido %}
        <!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text"></div>
  <div class="container-fluid">
      <div class="owl-banner owl-carousel">

        {% for i in posts %}
          <div class="item">
            <a href="{% url 'apps.posts:post_individual' i.id %}">
              <img src="{{i.imagen.url}}" alt="" height="300px;">
            </a>
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <!---ACÁ ESTÁ LO QUE SERÍA DEL INICIO LAS NOTICIAS DEL CARRUSEL-->
                  <span>{{ i.categoria }}</span>
                  <a href="<img src="{{i.imagen.url}}" alt="" height="300px;">
                    <h4>{{ i.titulo }}</h4>
                  </a>
                  <a>{{ i.publicado }}</a>          
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
</div>
<!-- Banner Ends Here -->

<div>
    <section class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-content">
            <div class="row">
              <div class="col-lg-8">
                <span>Información Importante</span>
                <h4>"La imaginación es más importante que el conocimiento. El conocimiento es limitado, mientras que la imaginación abraza el mundo entero, estimulando el progreso, dando nacimiento a la evolución."</h4>
                <h5> Albert Einstein</h5>
              </div>
              <!-- <div class="col-lg-4">
                <div class="main-button">
                  <a rel="nofollow" href="https://es.wikihow.com/tragar-agua-r%C3%A1pidamente" target="_parent">Ver Más!</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
</div>
<br>
<div>
    <section class="blog-posts">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
              <div class="col-lg-12">                
                <div class="blog-post">

                  {% for i in posts|slice:":3" %}
                    <div class="down-content">
                      <span>{{ i.categoria }}</span>
                      <a href="{% url 'apps.posts:post_individual' i.id %}"><h4>{{ i.titulo }}</h4></a>
                      <ul class="post-info">
                        <li><a>Publicado por {{ i.autor }}</a></li>
                      </ul>
                      <div class="blog-thumb">
                        <a href="{% url 'apps.posts:post_individual' i.id %}">
                          <img src="{{ i.imagen.url }}" alt="" height="350px;">
                        </a>
                      </div>           
                    </div>
                    {% empty %}                  
                    <div class="blog-empty">
                      <h2>No hay posts para mostrar </h2>
                    </div>
                  {% endfor %}         

                </div> 
              </div>             
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="{% url 'apps.posts:posts' %}">Ver Todos los Posts</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="row">
              <div class="col-lg-12">
                <div class="sidebar-item search">
                  <form id="search_form" name="gs" method="GET" action="#">
                    <input type="text" name="q" class="searchText" placeholder=" Buscar..." autocomplete="on">
                  </form>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                  <div class="sidebar-heading">
                    <h2>Posts Recientes </h2>
                  </div>
                  <div class="content">
                    <ul>
                      {% for i in posts %}
                        <li>
                          <a href="{% url 'apps.posts:post_individual' i.id %}"><h5>{{ i.titulo }}</h5></a>
                          <ul class="post-info">
                            <li><a>{{ i.publicado }}</a></li>
                          </ul>
                        </li>
                        
                        {% empty %}
                        <div class="blog-empty">
                            <h2>No hay posts para mostrar </h2>
                        </div>                        
                      {% endfor %}             
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item categories">
                  <div class="sidebar-heading">
                    <h2>Categorías</h2>
                  </div>
                  <div class="content">
                    <ul>
                      {% for categoria in categorias %}
                        <li>
                          <a href="{% url 'apps.posts:posts_por_categoria' pk=categoria.pk %}">{{ categoria.nombre }}</a>
                        </li>
                        {% empty %}
                            <li>No hay categorías</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
</div>
{% endblock %}